* {
	all: unset;
	background-image: none;
	transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
    /* * This makes the window background semi-transparent.
     * Your compositor (e.g., Hyprland) must be configured
     * to blur layers for this to have a blur effect.
     */
	background-color: rgba(26, 26, 26, 0.8); /* Semi-transparent dark background */
}

button {
	font-family: 'Material Symbols Outlined';
	font-size: 28pt;
	background-color: rgba(11, 11, 11, 0.4);
	color: #FFFFFF;
	margin: 8pt;
	border-radius: 8pt;
	padding: 12pt;
}

button:focus,
button:active,
button:hover {
	background-color: rgba(51, 51, 51, 0.5);
	border-radius: 12pt;
}
